@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format("woff2"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format("woff"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format("opentype");
}

@keyframes 빙글빙글 {
    /* 50% {
        transform: rotate(180deg);
    } */
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 폰트 설정, 배경 설정 */
:root,
#for::placeholder,
#hour::placeholder {
    font-family: "GmarketSansMedium";
    color: white;
    font-size: 24px;
    text-align: center;
}
.expr-rule strong,
.btn-input button,
.btn-go,
.btn-share {
    font-family: "GmarketSansBold";
    text-align: center;
}
.mini-title {
    font-family: "OTEnjoystoriesBA";
    text-align: center;
}

body {
    background-color: #5b2386;
}

/* 마진값 일률 조정 */

.btn-input {
    margin: 80px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
/* 타이틀 */
.logo-title {
    width: 564px;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}
.logo-title img {
    height: 112px;
}

/* 부제목? */
.mini-title {
    color: #f5df4d;
    font-size: 36px;
    margin: 46px 0;
}

/* 법칙 설명 */
.expr-rule {
    width: 493px;
    height: 96px;
    font-size: 18px;
    line-height: 32px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: 0 15px;
    margin: 32px 0;
}
.expr-rule strong {
    font-size: 24px;
    font-weight: bold;
}

/* border 리셋 */
#for,
#hour,
button {
    /* 이 페이지 내에서 버튼은 모두 비슷한 스타일로 쓰일 거라 생각하여 태그 선택자 사용 */
    border: none;
}
button:hover {
    cursor: pointer;
}

/* 사용자 입력 */
.input {
    margin-top: 70px;
}
#for,
#hour {
    width: 228px;
    height: 57px;
    border-radius: 7px;
}
#for::placeholder,
#hour::placeholder {
    color: #babcbe;
}
.input-for,
.input-hour {
    margin: 27px auto;
}

/* 전송 버튼 */
.btn-input {
    margin: 115px 0;
}
.btn-input button {
    background-color: #fcee21;
    padding: 21px 49px;
    color: #5b2386;
    font-size: 24px;
    border-radius: 56px;
}
.btn-input img {
    vertical-align: bottom;
    margin-bottom: -15px;
}

/* 결과창 */
.result {
    display: none;
}
.result.on {
    display: block;
    animation: fadein linear 1s;
}
.result p {
    line-height: 72px;
}
.btn-finish {
    margin: 127px 0;
}
.result-for,
.result-hour {
    font-size: 72px;
    vertical-align: middle;
}

/* 결과 버튼 */
.btn-go {
    background-color: #fcee21;
    padding: 21px 49px;
    color: #5b2386;
    font-size: 24px;
    border-radius: 56px;
}
.btn-share {
    background-color: white;
    padding: 21px 49px;
    color: #5b2386;
    font-size: 24px;
    border-radius: 56px;
    margin: 0 10px;
}

/* 회사 로고 및 저작권 */
footer img {
    display: block;
    margin: 30px auto;
}
footer small {
    display: block;
    font-family: "Noto Sans KR regular";
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 100px;
}

/* 모달 창 */

.clock {
    display: none;
    margin-bottom: 60px;
}
.clock-img {
    animation: 빙글빙글 linear 1.2s infinite;
}
